/CCiA/build_qmake_CCiA/build-CCiA-Desktop_Qt_5_15_1_MinGW_64_bit-Debug
/CCiA/build_qmake_CCiA/build-CCiA-Desktop_Qt_5_15_1_MSVC2015_64bit-Debug
/CCiA/build_qmake_CCiA/build-CCiA-Desktop_x86_windows_msvc2017_pe_64bit-Debug
/CCiA/build_qmake_CCiA/build-CCiA-Desktop_x86_windows_msvc2017_pe_64bit-Release
/exp/build-exp-Desktop_x86_windows_msvc2017_pe_64bit-Debug
/exp/build-exp-Desktop_Qt_5_15_1_MinGW_64_bit-Release
/exp/build-exp-Desktop_Qt_5_15_1_MSVC2015_64bit-Debug
/exp/build-exp-Desktop_Qt_5_15_1_MSVC2015_64bit-Release
/CCiA/build_qmake_CCiA/build-CCiA-Desktop_Qt_5_15_1_MSVC2015_64bit-Release
/maps/program
/maps/maps_program
/maps/maps_qt_files
*pro.user
*user
/exp/build-exp-Desktop_Qt_5_15_1_MinGW_64_bit-Debug
/CCiA/build_qmake_CCiA/CCiA/*.user
